body, td, input  
{
  font-family: Tahoma;
  font-size: 10pt;
}

.formControlBar 
{
  text-align: right;
}

.formWindow 
{
 width: auto;
 border: thin solid #333333;
 background:white none repeat scroll 0%;
}

.formWindowTitle 
{
background-color: #59A1DC;
text-align: center;
color: white;
font-weight: bold;
padding-bottom: 4pt;
padding-top: 4pt;
}


.formNode
{
}

.formMainPanelInput 
{
  max-height: 300px;
  overflow: scroll;
}

.formMainPanelOutput
{
  background-color: yellow;
}



.onTop
{
z-index: 1000;
cursor: move;
}

.inBetween
{
z-index: 550;
}

.onBottom
{
z-index: 100;
}