/* Type CSS rules here and they will be applied
to pages from 'localhost:9080'
immediately as long as you keep this window open. */

/**** LINK-tag style sheet main.css ****/

/* color scheme 

http://wellstyled.com/tools/colorscheme2/index-en.html?tetrad;74;0;225;0.25;1;0.5;0.75;0.1;1;0.5;1;0.25;1;0.5;0.75;0.1;1;0.5;1;0.5;0.75;0.1;1;0.5;1;0.25;1;0.25;1;0.5;0.75;0.1;1;0.5;1;0

*/

/*
 general
*/
body {
font-family: verdana, sans-serif;
  font-size: 0.6em;
  /* background-color: #BFE4FF; */
}

.bigfont 
{
 /* big */	
 font-size: 40px;
	
}

/* ----------start of nav------------------- */	

/*
 *  title 
 */
div#title
{
 position: absolute;
 top: 10px;
 left: 20px;
 /* center */
 width: 95%;
 height: 30px;
 color: #E6F4FF;
 background-color:  #6096BF;
 background-image: url("../img/GeneralPurposeObjectNetwork.jpg");
 background-repeat:no-repeat;
 background-position: right;
 padding: 0px 0px 0px 0px;
 border-bottom: 1px solid;
 border-bottom-color: #E6F4FF;
}

/* 
 * navigation
 */

/*
 topics
  maintopics
   ul
    li
    li
    ..
  subtopics
   ul
    li
    li 
    ..
 */

div#maintopics
{
 position: absolute;	
 top: 35px;
 left: 20px;
 height: 20px;
 padding: 2px 0px 0px 0px;
 width: 95%;
 background-color: #6096BF;
 margin-left: 0px;
}

#maintopics ul
	{
		height: 20px;
		margin: 0;
		padding-left: 40px;
		background: url(tab_bottom.gif) repeat-x bottom;
	}

#maintopics li
	{
		margin: 0; 
		padding: 0;
  		display: inline;
  		list-style-type: none;
  	}
	
#maintopics a:link, #maintopics a:visited
	{
		float: left;
		background: #f3f3f3;
		font-size: 10px;
		line-height: 14px;
		font-weight: bold;
		padding: 2px 10px 2px 10px;
		margin-right: 4px;
		border: 1px solid #ccc;
		text-decoration: none;
		color: #666;
	}

#maintopics a:link.active, #maintopics a:visited.topic_selected
	{
		border-bottom: 1px solid #fff;
		background: #fff;
		color: #000;
	}


#maintopics a:hover
	{
		background: #fff;
	}

div#subtopics a:hover 
{ 
  color: #000
}


div#subtopics 
{
 position: absolute;
 top: 65px;	
 left: 20px;
 padding: 2px 2px 2px 2px;
 width: 95%;
 background-color: #fff; 
 height: 20px;
 margin-left: 0px;
}

div#subtopics a 
{
	 display: inline;  
	 color: #BFBA60; 
	 text-decoration: none;
     font-size: 10px;
	 line-height: 14px;
	 padding: 2px 10px 2px 10px;
	 margin-right: 4px;
	 border-left: 1px solid #ccc;
     	 
} 

#subtopics .topic_selected 
{
	font-weight: bolder;
	background-color: #FFFCBF;
	text-decoration: none;
    border-left: 2px solid #ccc;
}


#subtopics ul 
{
	height: 20px;
	margin: 0;
	padding-left: 10px;
} 


#subtopics li
{
	margin: 0; 
	padding: 0;
	display: inline;
  	list-style-type: none;
}	

/*
 * main
 */
 
div#main 
{
 position: absolute;
 top: 90px;	
 left: 20px;
 padding: 2px 2px 2px 2px;
 width: 95%;
 margin-left: 0px;
} 


/*
 * sidewinder
 */

div#sidewinder 
{
 position: absolute;
 left: 10px;
 top: 90px;
 width: 100px;
 background-color: #BFBA60;
 color: #F3E6FF;
}

/* ----------end of nav------------------- */	

img{ 
	border:none;
}

td {
	border: 1px;
	padding: 2px 4px 2px 4px;
	text-align: left;
	vertical-align: top;
	/* background-color: green; */
}

.searchLabel {
	padding: 2px 4px 2px 4px;
	text-align: right;
	vertical-align: top;
	font-size: 10px;
	/* background-color: red; */
}

.searchOp {
	padding: 2px 4px 2px 4px;
	text-align: center;
	vertical-align: top;
	/* background-color: green; */  
}

.searchValue {
	padding: 2px 4px 2px 4px;
	text-align: left;
	vertical-align: top;
	/* background-color: yellow; */  
}



th {
  color: Black;
	padding: 2px 4px 2px 4px;
  font-weight: bold;
	text-align: left;
	vertical-align: top;  
}

thead tr {
  background-color: #AEBBCC;
}

th.sorted {
    background-color: #FFFFFF;
}

th a, th a:visited {
  color: black;
}

th a:hover {
  text-decoration: underline;
  color: #ee5555;
}

th.sorted a, th.sortable a {
	background-position: right;
  background-repeat: no-repeat;
	display: block;
	width: 100%;
}

th.sortable a {
	background-image: url(../img/arrow_off.png);
}

th.order1 a {
	background-image: url(../img/arrow_down.png);
}

th.order2 a {
	background-image: url(../img/arrow_up.png);
}

span.excel {
	background-image: url(../img/ico_file_excel.png);
}

span.csv {
	background-image: url(../img/ico_file_csv.png);
}

span.xml {
	background-image: url(../img/ico_file_xml.png);
}

span.pdf {
	background-image: url(../img/ico_file_pdf.png);
}

tr.tableRowEven, tr.mod2_1, tr.even {
  background-color: #e5e5e5;
}

tr.tableRowOdd, tr.mod2_0, tr.odd {
  background-color: #f5f5f5;
}

span.pagebanner {
	background-color: #E0E0E0;
	border: 0px;
	
	width: 100%; 
    margin-left:  auto;
	margin-right: auto;
	margin-top: 5px;
	display:block;
	font-weight: bold;
  text-align: center;
}

span.pagelinks {
	background-color: #E0E0E0;
	border: 0px;
	
	width: 100%;
    margin-left:  auto;
	margin-right: auto;
	display:block;
	margin-bottom: 5px;
  text-align: center;
}


#pageTitle 
{
 font-size: 2.5em;
 padding: 5px;
 margin-bottom: 10px
}

div#itemListContainer,
div#itemListContainer_FIXED
{
    width:100%;
} 


/* Toggle between table layouts */

div#itemListContainer_FIXED table#itemList 
{
table-layout: fixed;
width:100%;
}

div#itemListContainer_FIXED table#itemList td, 
div#itemListContainer_FIXED table#itemList th
{
	table-layout: fixed;
	overflow: hidden;
}

div#itemListContainer table#itemList 
{
width:100%;
}


tfoot {
  background: #B5B5B5;
  font-weight: bold;
  color: #333333;
}

td.rightAlignMe {
  text-align: right;
}


/* export line */
div.exportlinks {
  background: #B5B5B5;
  text-align: center;
  width: 100%;
}

span.export {
	padding: 0 4px 1px 20px;
	display:inline; display:inline-block;
	cursor: pointer;
  background-repeat: no-repeat;  
  background-position: left;
}

img.GPON_IMAGE_STYLE 
{
  height: 70pt;
  width: auto;
}



img {
  border: 0;
}

/* -- popups -- */
div#popupBody {
    background: #ffffff;    
    position: absolute;
    top: 47px;
    left: 30px;
    width: 95%;
}

div#popupTitle {
  position: absolute;
 top: 10px;
 left: 30px;
 /* center */
 width: 95%;
 height: 30px;
 color: #E6F4FF;
 background-color:  #6096BF;
 background-image: url("../img/GeneralPurposeObjectNetwork.jpg");
 background-repeat:no-repeat;
 background-position: right;
 padding: 0px 0px 0px 0px;
 border-bottom: 1px solid;
 border-bottom-color: #E6F4FF;
}




