/* */
body 
{
 text-align: left;
 /* background-color: #a3b4c6; */
 background: #fff url("assets/gpon-bg2.png") no-repeat fixed left top;
}

input, textarea, select   
{
 border-width: 1px;
 border-style: solid; 
 /* border-color: #2647A0; */
}

th, td {
border: 0px;
}

/* custom css*/

.yui-dt-even {background-color:#fff;}
.yui-dt-table th a { color: #000; }
.yui-dt-table th, .yui-dt-table td {
overflow: visible;
}

/* item type table */

.gpon-ui-it-tab { margin: 2em; }
.gpon-ui-it-tab table {border-collapse:collapse; min-width: 90%; margin-left: auto; margin-right: auto;}
.gpon-ui-it-tab th, .gpon-ui-it-tab td {border:1px solid #000;padding:.25em;}
.gpon-ui-it-tab th {background-color:#AEBBCC;color:#fff;} /*dark gray*/
.gpon-ui-it-tab .yui-dt-odd {background-color:#eee;} /*light gray*/
.gpon-ui-it-tab em {font-style:italic;}
.gpon-ui-it-tab strong {font-weight:bold;}
.gpon-ui-it-tab .big {font-size:136%;}
.gpon-ui-it-tab .small {font-size:77%}

/* association type table */
.gpon-ui-at-tab { margin: 2em; }
.gpon-ui-at-tab table {border-collapse:collapse; min-width: 90%; margin-left: auto; margin-right: auto;}
.gpon-ui-at-tab th, .gpon-ui-at-tab td {border:1px solid #000;padding:.25em;}
.gpon-ui-at-tab th {background-color:#AEBBCC;color:#fff;} /*dark gray*/
.gpon-ui-at-tab .yui-dt-odd {background-color:#eee;} /*light gray*/
.gpon-ui-at-tab em {font-style:italic;}
.gpon-ui-at-tab strong {font-weight:bold;}
.gpon-ui-at-tab .big {font-size:136%;}
.gpon-ui-at-tab .small {font-size:77%}

/* item table */
.gpon-ui-i-tab { margin: 2em; }
.gpon-ui-i-tab table {border-collapse:collapse; min-width: 90%; margin-left: auto; margin-right: auto;}


/* all tables */ 
.gpon-ui-at-tab th, .gpon-ui-at-tab td,
.gpon-ui-it-tab th, .gpon-ui-it-tab td, 
.gpon-ui-i-tab th, .gpon-ui-i-tab td 
{
	border:1px solid #000;padding:.25em;
	font-size: 85%;
	}
.gpon-ui-i-tab th {background-color:#AEBBCC;color:#fff;} /*dark gray*/
.gpon-ui-i-tab .yui-dt-odd {background-color:#eee;} /*light gray*/
.gpon-ui-i-tab em {font-style:italic;}
.gpon-ui-i-tab strong {font-weight:bold;}
.gpon-ui-i-tab .big {font-size:136%;}
.gpon-ui-i-tab .small {font-size:77%}

/* top and bottom pagelinks centered */
.yui-panel .pagelinks-top, .yui-panel  .pagelinks-bottom { text-align: center; }
.yui-panel { font-family: verdana, sans-serif; border:none; overflow:visible; background-color:transparent; }
.yui-panel .bd { 
	    /* overflow: visible;  */
	    overflow: auto;
	    padding:4px; 
	    border:1px solid #aeaeae; 
        background-color:#FFF; 
}

.focused .yui-panel  .hd 
{
 background: #2647A0 url(scripts/yui23/assets/skins/sam/sprite.png) repeat-x scroll left -1400px; 
 color: #fff; 
}
.yui-panel .hd 
{ 
	background: #2647A0 url(scripts/yui23/assets/skins/sam/sprite.png) repeat-x scroll;
	/* background:#dfdfdf url(scripts/yui22/button/assets/background.png) repeat scroll left center; */
	border: 1px solid #aeaeae; 
	border-style:solid solid none;
	/* background-color:#dfdfdf; */
	color:#000; 
}

.yui-panel .ft { 
	    font-size:75%; 
	    color:#666; 
	    padding:2px; 
	    overflow:hidden; 
	    border:1px solid #aeaeae; 
	    border-top:none; 
	    background:#dfdfdf url(scripts/yui22/button/assets/background.png) repeat scroll left center;
} 
	    
/* Button font size */
.yuibutton button 
{
 font-size: 77%;
}

/* main panel width */
.yui-skin-sam #start-btn-group .yui-button button
{
  width: 150px;
}


/* Resize Panel CSS */
.resizepanel .resizehandle 
{ 
 position:absolute; 
 width:25px; height:4px; 
 right:0; 
 bottom:0; 
 margin:0; 
 padding:0; 
 z-index:1; 
 background:#666;  
 cursor:se-resize; 
 font-size:2px; 
}

/* indent first tab */

.yui-skin-sam .yui-navset .yui-content, 
.yui-skin-sam .yui-navset .yui-navset-top .yui-content 
{
border-color:#243356 #808080 rgb(128, 128, 128);
border-style: none;
border-width: 0px;
padding:0.25em 0.5em;
}
.yui-skin-sam .yui-navset .yui-content {
background:#fff none repeat scroll 0%;
}

ul.yui-nav 
{
 padding-left: 10px;
}

.yui-navset .yui-content 
{ 
 padding:1em;
 border-style: solid none none;
 border-color: #ccc;
} 

/* change tab colors */
.yui-navset .yui-nav .selected a, 
.yui-navset .yui-nav a:hover, 
.yui-navset .yui-content 
{
background-color: #FFF;
}

/* links undecorated */
.yui-navset .yui-nav li a 
{
  border: 1px solid #CCCCCC;	
  text-decoration: none;
  color: #666;
  background-color: #F3F3F3;
}

.yui-navset .yui-nav li a:hover 
{
  background-color: #fff;
}

.yui-navset .yui-nav .selected a
{
  background-color: #fff;
  color: #000;
}

.yui-navset li em {
  font-size: 77%;
  font-weight: bold;
  font-family:verdana,sans-serif;
}

/* autocomplete */

.gpon-autocomplete 
{
 width: 12em;
}

.yui-ac {
font-family:arial;
font-size:100%;
position:relative;
}

.yui-ac-input {
/*
position:absolute;
width:100%;
*/
}
.yui-ac-container {
position:absolute;
top:1.6em;
width:100%;
}
.yui-ac-content {
background:#FFFFFF none repeat scroll 0%;
border:1px solid #808080;
overflow:hidden;
position:absolute;
width:100%;
z-index:9050;
}
.yui-ac-shadow {
background:#000000 none repeat scroll 0%;
margin:0.3em;
opacity:0.1;
position:absolute;
width:100%;
z-index:9049;
}
.yui-ac-content ul {
margin:0pt;
padding:0pt;
width:100%;
}
.yui-ac-content li {
cursor:default;
margin:0pt;
padding:2px 5px;
white-space:nowrap;
}

.yui-ac-content li.yui-ac-prehighlight {
background:#B3D4FF none repeat scroll 0%;
}

.yui-ac-content li.yui-ac-highlight {
background:#426FD9 none repeat scroll 0%;
color:#FFFFFF;
}
    
/* item  */
.itemsearch-content-area 
{
  min-height: 300px;
}
    
/* derived simple types */
.dst-text-editor, .dst-text-view, .dst-longtext-editor, .dst-longtext-view  
{
 border: 1px solid green;
}

.dst-boolean-editor, .dst-boolean-view 
{

}
    